<div class="container login-page">
    <div class="row">
        <div class="col-xs-12">
            <p>Welcome to TaskInator, where tasks get obliviated!</p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-6 col-lg-5 col-centered">
            <form>
                <fieldset>
                    <legend>{{title}}</legend>
                    <label for="name">Username</label>
                    <input type="text" name="username" id="username" placeholder="Enter your username">
                    <br>
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password" placeholder="Enter your password">
                    <br>
                    <button type="submit" name="                                  "
                </fieldset>
            </form>
        </div>  <!-- /.col -->
    </div>  <!-- /.row -->
</div> <!-- /.container -->