<div class="container login-page">
    <div class="row">
        <div class="col-xs-12">
            <div class="login-container">
                <h1>{{title}}</h1>
                <p>Welcome to TaskInator, where tasks get obliviated!</p>
            </div>
        </div>  <!-- /.col -->
    </div>  <!-- /.row -->
</div> <!-- /.container -->