<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1> {{title}} </h1>
            <ul> User List:
                {{#each users}}
                <li>Name: {{name}} </li>
                <li>Age: {{age}} </li>
                {{/each}}
            </ul>
        </div>
    </div>
</div>