body {
    background-color: #303030;
    padding-top: 50px;
    color: #ccc;
}

body, h1, h2, h3, h4, h5 {
    /*font-family: 'Raleway', sans-serif;*/
    font-family: 'Quicksand', sans-serif;
}

.navbar-default {
    background-color: #303030;
    /*background-color: #4b6a8b;*/
}

.navbar-inverse .navbar-brand {
    color: #008cba;
}

.col-centered {
    float: none;
    margin: 0 auto;
}

.well {
    border-radius: 0;
}

.modal-content {
    border-radius: 0;
}

legend {
    color: #A19E82;
    border-bottom: 1px solid #464545;
}

.btn {
    border-radius: 0;
}

.btn-success {
    color: gray;
    background-color: #2dd5c2;
    border-color: transparent;
    transition: .4s;
}

.btn-success:hover, .btn-success:focus, .btn-success:active {
    color: gray;
    background-color: #24aa9b;
    border-color: transparent;
}

/* Tabs overrides */
.nav-tabs>li>a, .nav-pills>li>a {
    color: gray;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
    color: #2DD5C2;
    background-color: #444444;
}

/* Datatables overrides */
.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus {
    color: gray;
    background-color: #2dd5c2;
}

.pagination>.disabled>span, .pagination>.disabled>span:hover, .pagination>.disabled>span:focus, .pagination>.disabled>a, .pagination>.disabled>a:hover, .pagination>.disabled>a:focus {
    color: gray;
    background-color: #24aa9b;
}

.pagination>li:first-child>a, .pagination>li:first-child>span {
    border-radius: 0;
}

.pagination>li:last-child>a, .pagination>li:last-child>span {
    border-radius: 0;
}

/* Tables styling */
table .glyphicon {
    color: gray;
    font-size: 12px;
}

.text-blue {
    /*color: #008cba;*/
    color: #A19E82;
}

.form-control {
    /* Note: TODO - this does not work for select elements */
    border-radius: 0;
    color: #ccc;
    border: 1px solid #7d7c7c;
    background: none;
}

#login-form .form-control {
    background: none;
    border: 1px solid #7d7c7c;
}

.input-margin {
    margin-bottom: 27px;
}

#login-form input[type="text"] {
    /* border-radius: 0;
    background: none;
    border: 1px solid #ccc;*/
}

.table thead tr th {
    /*border-bottom: 2px solid #375a7f;*/
}

.table tbody tr td {
    padding: 15px;
    border-bottom: 1px solid #464545;
    white-space: nowrap;
}

table th, table td {
    text-align: center;
    vertical-align: middle;
}

.glyphicon:hover {
    cursor: pointer;
}

.red {
    color: red;
}