body {
    padding-top: 50px;
    color: #ccc;
}

body, h1, h2, h3, h4, h5 {
    font-family: 'Raleway', sans-serif;
}

.navbar-inverse .navbar-brand {
    color: #008cba;
}

.col-centered {
    float: none;
    margin: 0 auto;
}

.well {
    border-radius: 0;
}

.modal-content {
    border-radius: 0;
}

legend {
    border-bottom: 1px solid #464545;
}

.btn {
    border-radius: 0;
}

.text-blue {
    color: #008cba;
}

.form-control {
    /* Note: TODO - this does not work for select elements */
    border-radius: 0;
    color: #ccc;
}

#login-form .form-control {
    background: none;
    border: 1px solid #ccc;
}

.input-margin {
    margin-bottom: 27px;
}

#login-form input[type="text"] {
    /* border-radius: 0;
    background: none;
    border: 1px solid #ccc;*/
}

.table thead tr th {
    border-bottom: 2px solid #375a7f;
}

.table tbody tr td {
    padding: 15px;
    border-bottom: 1px solid #464545;
    white-space: nowrap;
}

table th, table td {
    text-align: center;
    vertical-align: middle;
}

.glyphicon:hover {
    cursor: pointer;
}

.red {
    color: red;
}