body {
    padding-top: 50px;
    color: #ccc;
}

.navbar-inverse .navbar-brand {
    color: #008cba;
}

legend {
    border-bottom: 1px solid #464545;
}

.text-blue {
    color: #008cba;
}

.table thead tr th {
    border-bottom: 2px solid #375a7f;
}

.glyphicon:hover {
    cursor: pointer;
}

table th, table td {
    text-align: center;
}

.red {
    color: red;
}