.glyphicon:hover {
    cursor: pointer;
}

.glyphicon-remove {
    color: maroon;
}

.glyphicon-pencil {
    color: green;
}

.glyphicon-ok {
    color: #008cba;
}

table th, table td {
    text-align: center;
}